.common-wrapper {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}

.frs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.frstart {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.fc{
    display: flex;
    flex-direction: column;
}

.uavatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.fw{
    display: flex;
    flex-wrap: wrap;
}